# Auto detect text files and perform LF normalization
* text=auto

# static directory contains abandoned GUI code. This line
# prevents it from being counted in the Github language stats
static/* linguist-vendored