:root {
	--normal-font: 1em;
	--small-font: 0.75em;
	--main-border-size: 5px solid black;

	/* the color scheme */
	--red: #de3e39;
	--green: #41933e;
	--blue: #315eee;
	--orange: #f09605;
	--black: #141414;
	--filler: #e7e7e7;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "InterMed";
	src: url("./intermed.woff2")
}

@font-face {
	font-family: "InterSemi";
	src: url("./intersemi.woff2")
}

body {
	color: var(--black);
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'InterMed';
}

label {
	display: block;
}

input, button, select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: var(--filler);
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: none;
	padding: 5px 8px 5px 8px;
	border-radius: 5px;
	margin: 0;
}

input:focus, textarea:focus {
	outline: 2px solid black;
	z-index: 2;
}

textarea {
	padding-top: 6px;
}

select, button, input {
	background-color: var(--filler);
	height: 36px;
}

select, button {
	cursor: pointer;
}

.button-group {
	display: flex;
	gap: 10px;
}

select {
	background: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTExIDY3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxLjUiPjxwYXRoIGQ9Ik05OSAxMUw1NSA1NSAxMSAxMSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIyLjQiLz48L3N2Zz4=');
	background-size: 10px;
	background-position: calc(100% - 5px) center;
	background-repeat: no-repeat;
	padding-right: 25px;
}
