:root {
	--normal-font: 1em;
	--small-font: 0.8em;
	--main-border-size: 5px solid black;

	/* the color scheme */
	--red: #de3e39;
	--green: #41933e;
	--blue: #315eee;
	--orange: #f09605;
	--black: #141414;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black);
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Inter Medium';
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
