<!DOCTYPE html>
<html>
<head>
    <title>Offpost</title>
    <link rel="shortcut icon" type="image/svg" href="logo.svg">
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>


<body>
<div id="container">
    <div id="app-container">
        <!-- <div id="biglogo-container">
            <svg id="biglogo" width="200px" viewBox="0 0 2180 2180" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5">
                <circle cx="8294.8" cy="1276.7" r="864.3" fill="none" stroke="#000" stroke-width="187.5" transform="translate(-7205 -187)"/>
                <path d="M532 1701l558-558 558 558" fill="none" stroke="#000" stroke-width="187.527288"/>
                <circle cx="4353.5" cy="3875.9" r="202.8" transform="translate(-4353 -4146) scale(1.25018)"/></svg>
        </div> -->

    <div id="app">
        <!-- MAIN APP INSIDE THIS DIV. -->
        <div id="sidebar-container">
            <div id="sidebar-items-and-space">
                <div id="sidebar">
                    <div class="none"></div>
                    
                    <div id="home" class="sidebar-item active" @click="setActive('home')">
                        <div style="pointer-events: none;">
                            <svg style="display: inline; vertical-align: bottom; margin-right: 10px" width="30px"
                                viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"
                                stroke-miterlimit="1.5">
                                <path fill="none" stroke="#000" stroke-width="6"
                                    d="M3 3h19v19H3zM30 3h18v19H30zM30 29h18v19H30zM3 29h19v19H3z" />
                            </svg>
                            <span class="instance-name">Home</span>
                        </div>
                    </div>

                    <div v-for="instance, index in instances" :key="'instance' + index"
                            class="sidebar-item"
                            @click="setActive(index)"
                            :id="'instance' + index">
                        <div class="instance-name" style="pointer-events: none;">{{ instance.Name }}</div>
                    </div>

                    <div class="none"></div>
                </div>
                <div id="afterspace" :class="{ topborder: lastTabActive }"></div>
            </div>

            <div id="new-instance" @click="newInstance">
                <div>
                    <svg width="15px" viewBox="0 0 19 19" style="overflow: visible;" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M9 2v14M16 9H2" fill="none" stroke="#000" stroke-width="3.3128040000000003"/></svg>
                    <span>New Instance</span>
                </div>
            </div>
        </div>

        <div id="contentView">
            <div v-if="activeTab === 'home'" id="home-view">
                <div class="heading">
                    <svg style="margin-right: 0; vertical-align: text-bottom;" width="50px" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path fill="none" stroke="#000" stroke-width="6" d="M3 3h19v19H3zM30 3h18v19H30zM30 29h18v19H30zM3 29h19v19H3z" />
                    </svg>
                    <span>Home</span>
                </div>
                <div id="home-instance-overview">
                    <div class="instance-preview" v-for="instance, index in instances" @click="setActive(index)">
                        <img :src="instance.Picture">
                        <div class="instance-preview-text">
                            <div class="instance-preview-name">
                                {{ instance.Name }}
                            </div>
                            <div class="instance-preview-subtext">
                                <span class="status-waiting" v-if="!instance.ItemsInQueue">Waiting for new image</span>
                                <span class="status-queued" v-if="instance.ItemsInQueue">
                                    {{ instance.ItemsInQueue }} items in queue<br>
                                    Next post {{ instance.NextPostTime }}<br>
                                    <!-- at {{ instance.StatusDetails[2] }} -->
                                </span>
                                <span class="status-needs-configuring" v-if="instance.Status === 'needs-configuring'">Needs configuring</span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div v-else id="instance-view">

                <transition name="fade">
                    <div v-show="extraSettingsOpen" id="instance-extra-settings" class="settings-view">
                        <div class="heading">
                            <div></div>
                            <span>Extra settings for {{instances[activeTab].Name}}</span>
                            <svg @click="extraSettingsOpen = false" stroke="black" stroke-width="100" style="overflow: visible;" width="20px" viewBox="0 0 305 305" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2">
                                <path d="M305 0L0 305M0 0l305 305" fill="none"/>
                            </svg>
                        </div>

                        <div id="extraSettingsContent">
                            <div class="content-section">
                                <div class="mainview-label">Name:</div>
                                <div class="mainview-content" id="name-change-content">
                                    <input v-model="instances[activeTab].Name" type="text">
                                </div>
                            </div>
                            <div class="content-section">
                                <div class="mainview-label">Queue Delay:</div>
                                <div class="mainview-content" id="queue-delay-content">
                                    <input id="time-to-queue-num" type="text" :value="timeUnitFromString(instances[activeTab].TimeToQueue)[0]">
                                    <select name="time-to-queue-unit">
                                        <option :selected="timeUnitFromString(instances[activeTab].TimeToQueue)[1] === 'seconds'"
                                                value="seconds">Seconds</option>
                                        <option :selected="timeUnitFromString(instances[activeTab].TimeToQueue)[1] === 'minutes'"
                                                value="minutes">Minutes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="content-section">
                                <div class="mainview-label">Startup Delay:</div>
                                <div class="mainview-content">
                                    <select name="postDelayAtStartup" id="postDelayAtStartup">
                                        <option :selected="instances[activeTab].PostDelayAtStartup === 'random'" value="random">Random</option>
                                        <option :selected="instances[activeTab].PostDelayAtStartup === 'full'" value="full">Full</option>
                                        <option :selected="instances[activeTab].PostDelayAtStartup === 'none'" value="none">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>

                <transition name="popup">
                    <platform-config 
                    :instance="instances[activeTab].Name"
                    :platform="platformConfigOpen[1]"
                    v-show="platformConfigOpen[0] != false"
                    @platform-config-close="platformConfigOpen.splice(0, 1, false)"></platform-config>
                </transition>

                <div class="settings-view">
                    <div class="heading">
                        <img :src="instances[activeTab].Picture">
                        <span>{{ instances[activeTab].Name }}</span>
                        <div>
                            <svg @click="extraSettingsOpen = true" width="30px" viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M24.5.4C22 0 19.1 0 16.4.4v5c-1.3.4-2.5 1-3.7 1.6L9.2 3.4a20.4 20.4 0 00-5.8 5.8L7 12.7c-.7 1.2-1.2 2.4-1.5 3.7h-5c-.6 2.7-.6 5.5 0 8.1h5c.3 1.3.8 2.6 1.5 3.7l-3.6 3.6C5 34 7 36 9.2 37.5l3.5-3.5c1.2.6 2.4 1.1 3.7 1.5v5c2.7.6 5.5.6 8.1 0v-5c1.3-.4 2.6-.9 3.7-1.5l3.6 3.5c2.3-1.5 4.2-3.4 5.7-5.7L34 28.2c.6-1.1 1.1-2.4 1.5-3.7h5c.6-2.6.6-5.4 0-8.1h-5c-.4-1.3-.9-2.5-1.5-3.7l3.5-3.5a20.5 20.5 0 00-5.7-5.8L28.2 7c-1.1-.7-2.4-1.2-3.7-1.5v-5zm-4 14a6.1 6.1 0 110 12.2 6.1 6.1 0 010-12.3z"/></svg>
                        </div>
                    </div>

                    <div class="content-section" id="folders">
                        <div class="mainview-label" id="folder-label">Folders:</div>
                        <div class="mainview-content" id="folder-content">
                            <template v-for="folder, index in instances[activeTab]['ImgFolders']" :key="instances[activeTab] + index">
                                <div class="folder-row">
                                    <input type="text" v-model="folder" @input="updateFolder(index, $event)">

                                    <button>
                                        <svg viewBox="0 0 25 21" xmlns="http://www.w3.org/2000/svg" width="25px" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5">
                                            <path d="M2412 271v31h47v-26h-25l-4-5h-18z" fill="none" stroke="#000" stroke-width="5.8" transform="matrix(.45762 0 0 .56483 -1102 -151)"/>
                                        </svg>
                                    </button>
                                    
                                    <button @click="removeFolder(index)">
                                        <svg stroke="black" stroke-width="100" style="overflow: visible;" width="15px" viewBox="0 0 305 305" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2">
                                            <path d="M305 0L0 305M0 0l305 305" fill="none"/>
                                        </svg>
                                    </button>
                                </div>
                            </template>
                            <a href="#" @click="newFolder">Add new folder...</a>
                        </div>
                    </div>

                    <div class="content-section" id="post-to">
                        <div class="mainview-label" id="postto-label">Post to:</div>
                        <div class="mainview-content" id="postto-content">

                            <div v-for="platform in Object.keys(instances[activeTab]['Platforms'])" class="postto-row">
                                <select name="platforms">
                                    <option :selected="platform === 'facebook'" value="facebook">Facebook</option>
                                    <option :selected="platform === 'twitter'" value="twitter">Twitter</option>
                                    <option :selected="platform === 'tumblr'" value="tumblr">Tumblr</option>
                                </select>
                                <button @click="platformConfigOpen = [true, platform]">Configure...</button>
                                <svg viewBox="0 0 25 32" width="20" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M22 2L8 29 3 18" fill="none" stroke="#009d10" stroke-width="4"/></svg>
                                <a href="#">@JohnFunnyPic</a>
                            </div>

                            <div class="postto-row">
                                <a href="#">Add new platform...</a>
                            </div>
                        </div>
                    </div>

                    <div class="content-section" id="caption">
                        <div class="mainview-label" id="caption-label">Caption:</div>
                        <div class="mainview-content" id="caption-content">
                            <p><b><i>OUT OF SERVICE</i></b> - Coming soon</p>
                            <!-- <p><textarea></textarea></p>
                            <p id="insert-variable">Insert Variable:
                                <a href="#">Filename</a>, 
                                <a href="#">File Ext</a>, 
                                <a href="#">Month</a>, 
                                <a href="#">Day</a>, 
                                <a href="#">Year</a>
                            </p> -->
                            
                        </div>
                    </div>

                    <div class="content-section" id="post-interval">
                        <div class="mainview-label" id="interval-label">Post Interval:</div>
                        <div class="mainview-content" id="interval-content">
                            <input id="interval-num" type="text" :value="timeUnitFromString(instances[activeTab].PostInterval)[0]">
                            <select name="interval-unit">
                                <option :selected="timeUnitFromString(instances[activeTab].PostInterval)[1] === 'minutes'"
                                        value="minutes">Minutes</option>
                                <option :selected="timeUnitFromString(instances[activeTab].PostInterval)[1] === 'hours'"
                                        value="hours">Hours</option>
                                <option :selected="timeUnitFromString(instances[activeTab].PostInterval)[1] === 'days'"
                                        value="days">Days</option>
                            </select>
                        </div>
                    </div>

                    
                </div>
                <div id="status-bar">
                    <div id="status-bar-text">
                        <div class="mainview-label">Status:</div>
                        <div class="mainview-content">
                            <span class="status-waiting" v-if="instances[activeTab].Status === 'waiting'">Waiting for new image</span>
                            <span class="status-queued" v-if="instances[activeTab].Status === 'queued'">
                                {{ instances[activeTab].StatusDetails[0] }} items in queue<br>
                                Next post {{ instances[activeTab].StatusDetails[1] }}
                            </span>
                            <span class="status-needs-configuring" v-if="instances[activeTab].Status === 'needs-configuring'">Needs configuring</span>
                        </div>
                    </div>

                    <div id="buttons-content">
                        <p><button>Cancel</button>
                        <button>Run</button></p>
                    </div>
                </div>
            </div>
        <!-- END OF MAIN APP -->
        </div>
    
    
    </div>

    <!-- <div id="links">
        <span>offpost</span>
    </div>  -->

    </div>
</div>

<script src="./main.js"></script>
</body>

</html>
